<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509605512143-1ulfs7f4kgkkt3sahftr62kle8pcp8mq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509605512143-1ulfs7f4kgkkt3sahftr62kle8pcp8mq</string>
	<key>API_KEY</key>
	<string>AIzaSyDdworn7QAfL_ic9v6hamiA0fV-Ci6z8v4</string>
	<key>GCM_SENDER_ID</key>
	<string>509605512143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jorge.Prueba</string>
	<key>PROJECT_ID</key>
	<string>retomovies</string>
	<key>STORAGE_BUCKET</key>
	<string>retomovies.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509605512143:ios:9fbbbe28bbcda00a1cc8ba</string>
</dict>
</plist>